{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load socialaccount %}  <!-- Load the socialaccount tags -->


{% block subtitle %} {{ request.user }} {% endblock %}

{% block content %}
<div class="container my-2">
    <div class="text-center p-4 border border-dark my-4 rounded" style="border-radius: 1rem;">
                        <h2>Connected Social Accounts</h2>

            {% if social_accounts %}
                <div class="justify-content-center">
                    {% for account in social_accounts %}
                    <span class="d-flex align-items-center">
                        <a href="#" class="btn btn-danger fw-bold fs-3">
                            <i class="bx bxl-google"></i>  {{ account.provider|title }} Google Connected
<!--                            Connected as {{ account.extra_data.username }}-->
                        </a>
                        <a href="#" class="text-danger fw-bold fs-3 ml-2" style="text-decoration: underline;">
                            <i class="bx bx-trash"></i>  Remove Google
                        </a>
                    </span>
                    {% endfor %}
                </div>

            {% else %}
                <p>No social accounts connected.</p>
            {% endif %}
    </div>
    <div class="text-center p-4 border border-dark my-4 rounded" style="border-radius: 1rem;">
                    <h3>Link Your Account</h3>

                    <a href="#" class="btn btn-outline-danger mx-2">
                        <i class="bx bxl-google"></i> Connect Google
                    </a>
                    <a href="#" class="btn btn-outline-primary mx-2">
                        <i class="bx bxl-facebook"></i> Connect Facebook
                    </a>
                    <a href="#" class="btn btn-outline-dark mx-2">
                        <i class="bx bxl-github"></i> Connect GitHub
                    </a>
                    <a href="#" class="btn btn-outline-info mx-2">
                        <i class="bx bxl-linkedin"></i> Connect LinkedIn
                    </a>
    </div>
</div>
{% endblock %}
