{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block dont_include_details %}

   {% include 'messages.html' %}

    <div class="my-4 row justify-content-center">
        <div class="col-11 col-sm-8">
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>

            <hr class="border border-danger">

            <div class="card">
                <div class="card-header text-center">
                    <p class="card-title m-0">{% trans "Password Reset" %}</p>

                </div>
                <div class="card-body">

                    <p>{% blocktrans %}We have e-mailed you. Please contact us if you do not receive it within a
                        few minutes.{% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
