{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{% trans "Change Password" %}{% endblock %}
{% block content %}

    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <div class="card">

                <div class="card-body">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary mb-2"
                                name="action">{% trans "Submit" %}</button>
                    </form>
                    <div class="mt-2">
                        <a href="{% url 'account_reset_password' %}"><i
                                class="fa fa-link"></i> {% trans "Forgot Password?" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
