

{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block dont_include_details %}

    {% include 'messages.html' %}

    <div class="account-pages my-5 pt-sm-5">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-6">

                    <div class="text-center">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                    </div>

                    <div class="card shadow">
                        <div class="card-body border-bottom text-center">
                            <p class="card-title m-0">{% trans "Password Reset" %}</p>

                        </div>
                        <div class="card-body">

                            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}
                                {% trans "Change Password" %}{% endif %}</h1>

                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already
                                    been
                                    used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                                    .{% endblocktrans %}</p>
                            {% else %}
                                {% if form %}
                                    <form method="POST" action="{{ action_url }}">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <input type="submit" name="action" class="btn btn-primary"
                                               value="{% trans 'change password' %}"/>
                                    </form>
                                {% else %}
                                    <p>{% trans 'Your password is now changed.' %}</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'include/global-short-footer.html' %}

        </div>
    </div>

{% endblock %}
