{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Set password" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block dont_include_details %}


    <div class="account-pages my-5 pt-sm-5">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-6">
                    <div class="text-center">
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                    </div>

                    <div class="card">
                        <div class="card-body border-bottom text-center">
                            <p class="card-title m-0">{% trans "Set Password" %}</p>

                        </div>
                        <div class="card-body">

                            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'include/global-short-footer.html' %}

        </div>
    </div>

{% endblock %}
