{% extends 'base.html' %}
{% load static %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block dont_include_details %}

    <div class="my-4 row justify-content-center">
        <div class="col-11 col-sm-8">
            <div class="text-center">
                <div>
                    {% if user.is_authenticated %}
                        <p class="m-0 card-text">{% include "account/snippets/already_logged_in.html" %}</p>
                    {% endif %}
                </div>
            </div>
            <hr class="border border-danger">
            <div class="card">
                <div class="card-header text-center">
                    <p class="card-title m-0">{% trans "Password Reset" %}</p>

                </div>
                <div class="card-body">
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}"/>
                    </form>

                    <p class="mt-2">Please contact us if you have any trouble resetting your
                        password, forgotten your password? Enter your e-mail address above, and we'll send you an e-mail
                        allowing you to reset it.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
