

{% extends 'base.html' %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block base_top_nav %}{% endblock %}
{% block dont_include_details %}

   {% include 'messages.html' %}

    <div class="my-4 row justify-content-center">
        <div class="col-11 col-sm-8">
            <div class="text-center">
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
            </div>

            <hr class="border border-danger">

            <div class="card">
                <div class="card-header text-center">
                    <p class="card-title m-0">{% trans "Password Reset" %}</p>

                </div>
                <div class="card-body">

                    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}
                        {% trans "Change Password" %}{% endif %}</h1>

                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                            used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>
                            .{% endblocktrans %}</p>
                    {% else %}
                        {% if form %}
                            <form method="POST" action="{{ action_url }}">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <input type="submit" name="action" class="btn btn-primary" value="{% trans 'change password' %}"/>
                            </form>
                        {% else %}
                            <p>{% trans 'Your password is now changed.' %}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
