{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<body style="background-color: white;color: #3f3f3f">
<table class="body-wrap"
       style="font-family: 'Helvetica Neue',
       Helvetica,Arial,sans-serif; box-sizing:
       border-box; font-size: 14px; width: 100%; margin: 0;">
    <tbody>
    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
        <td class="container" width="600"
            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; display: block !important; max-width: 800px !important; clear: both !important; margin: 0 auto;"
            valign="top">
            <div class="content"
                 style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; max-width: 800px; display: block; margin: 0 auto; padding: 20px;">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope=""
                       itemtype="http://schema.org/ConfirmAction"
                       style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; border-radius: 3px; margin: 0; "
                >
                    <tbody>
                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                        <td class="content-wrap"
                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0; padding: 20px;"
                            valign="top">
                            <meta itemprop="name" content="Confirm Email"
                                  style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                            <table width="100%" cellpadding="0" cellspacing="0"
                                   style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                <tbody>

                                {% block header %}
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td class="content-block"
                                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; color: #5766da; font-size: 24px; font-weight: 700; vertical-align: top; margin: 0; padding: 0 0 10px;"
                                            valign="top">
                                            <img src='https://fldai.s3.amazonaws.com/static/website/images/header_logo.png'/>
                                        </td>
                                    </tr>

                                {% endblock %}
                                <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; margin: 0;">
                                    <td>
                                        {% block content %}


                                        {% endblock %}
                                    </td>
                                </tr>

                                {% block footer %}
                                    <tr style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; margin: 0;">
                                        <td class="content-block"
                                            style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 16px; padding-top: 0px; vertical-align: top; margin: 0; text-align: left;"
                                            valign="top">
                                            <p>
                                                Best regards
                                            </p>
                                            <p>
                                                <a style="font-size: 18px;"
                                                   href="mailto:support@first-linedefense.org">
                                                    FLD - Support Team
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                {% endblock %}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table><!--end table--></div><!--end content--></td>
        <td style="font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; box-sizing: border-box; font-size: 14px; vertical-align: top; margin: 0;"
            valign="top"></td>
    </tr>
    </tbody>
</table>
</body>
</html>