{% extends 'base_content.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load core_tags %}

{% block subtitle %}
    Emails
{% endblock %}

{% block content_head_title %}
    Email Management
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-12">
            <form method="get">
                <div class="input-group mb-3">
                    {{ filter_form }}
                    <div class="input-group-append">
                        <button class="btn btn-lg d-block btn-outline-theme" type="submit">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-body px-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-borderless">
                            {% if object_list %}
                                <thead class="border-bottom">
                                <tr>
                                    <th>ID</th>
                                    <th>Subject</th>
                                    <th>Recipient</th>
                                    <th>Status</th>
{#                                    <th>Failed Attempts</th>#}
                                    <th>Created at</th>
                                    <th>Active</th>
                                </tr>
                                </thead>

                                <tbody>

                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.pk }}</td>
                                        <td>{{ object.subject }}</td>
                                        <td>{{ object.recipient }}</td>
                                        <td>
                                            <span class="badge bg-{{ object.status|alert_type_class }}">
                                                <b>
                                                    {% if object.status == "sent" %}
                                                        <i class="fa fa-check-circle"></i>
                                                    {% else %}
                                                        <i class="fa fa-times-circle"></i>
                                                    {% endif %}
                                                    {{ object.status }}
                                                </b>

                                            </span>

                                            {% if object.status == 'failed' %}
                                                 | <i class="fa fa-eye text-danger"
                                                   data-object-value="{{ object.error_message }}"
                                                   onclick="showError(this)"></i>
                                            {% endif %}
                                        </td>

{#                                        <td class="text-center">{{ object.failed_attempts }}</td>#}
                                        <td>{{ object.created_at.date|check_null }}</td>


                                        <td>
                                            {% if request.user.is_superuser or perms.whisper.change_emailnotification %}

                                                <a href="{% url 'whisper:emailnotification-retry' object.pk %}"
                                                   class="text-decoration-none"><i
                                                        class="fa fa-repeat"></i> Retry
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            {% else %}
                                <th class="text-danger">No Emails data available.</th>
                            {% endif %}
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="mt-4">
                <ul class="pagination">
                    {% if object_list.has_previous %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.previous_page_number 'page' request.GET.urlencode %}">
                                    Previous
                                </a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="">
                        <span>Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.</span>
                    </li>
                    {% if object_list.has_next %}
                        <li>
                            <span>
                                <a href="{% relative_url object_list.next_page_number 'page' request.GET.urlencode %}">
                                    Next
                                </a>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block jsout %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function showError(element) {
            const errorMessage = $(element).data('object-value');
            Swal.fire({
                icon: 'error',
                title: 'Error Reason',
                text: errorMessage
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('label').hide();
            $('input').addClass('form-control form-control-lg bg-inverse bg-opacity-5');
            $('select').addClass('form-select');
            $("#id_recipient").attr("placeholder", "Enter Recipient Email");
            $("#id_status option:first").text("-- Select Status --");
        });
    </script>
{% endblock %}


