six
Faker
pillow
markdown
python-dateutil

django
django-environ
django-filter
django-allauth
django-resized
python-decouple
django-ckeditor
django-crispy-forms

djangorestframework
djangorestframework-jwt
dj-rest-auth
django-rest-swagger
drf_yasg

django-browser-reload
