django~=4.1.5
django-filter~=22.1

django-allauth~=0.52.0
python-dateutil

markdown
django-resized
python-decouple
django-ckeditor
django-crispy-forms
pillow
six~=1.16.0
Faker

django-phonenumber-field
django-phonenumbers
django-environ
djangorestframework-jwt~=1.11.0
django-rest-auth~=0.9.5
DateTime~=5.0
djangorestframework~=3.14.0