django
django-filter

django-allauth
python-dateutil~=2.8.2
django-phonenumber-field

markdown
django-resized
python-decouple
django-ckeditor
django-crispy-forms
pillow
six
Faker

django-phonenumber-field
django-phonenumbers
