{% extends 'base.html' %}
{% block subtitle %}
    404 Page Not Found
{% endblock %}

{% block only-body %}
    <div class="row justify-content-center mt-5">
        <div class="container">
            <div class="col-md-12 text-center mt-5">
                <span class="h1 d-block">Under - Construction</span>
                <div class="mb-4 lead">The page you are looking for was under construction - see the exalter below he is
                    working hard to get job done.
                </div>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}