<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Awesome Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Custom styles go here */
        body {
            background-color: #f8f9fa;
        }

        .navbar-brand img {
            max-height: 40px;
            vertical-align: middle;
        }

        .jumbotron {
            background-color: #ffffff;
        }

        .feature-list {
            list-style-type: none;
        }

        .feature-list li {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://exarth.com/static/exarth/theme/logo-red-1000.svg" alt="Company Logo">
        </a>

        <!-- Right-side menus -->
        <div class="ml-auto">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">root</a>
                </li>
                <li class="nav-item">
                    {% if request.user.is_authentiated %}
                        <a class="nav-link" href="{% url 'admins:dashboard' %}">Dashboard</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'account_login' %}">login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main content -->
<div class="jumbotron jumbotron-fluid">


    <div class="container text-center">
        <h1 class="display-4">Django Boilerplate</h1>
        <p class="lead">
            This is a boilerplate for Django projects that includes various features and libraries to help you kickstart
            your development process.
        </p>
    </div>

    <div class="container mt-4">
        <div class="row text-center">

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>All-Auth</b></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Rest Framework</b></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Rest Auth</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Swagger Docs</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>CK Editor</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Crispy and Tweeks</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Filters</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Internationalization</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Live Reload</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Logging</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>HTML Emails</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Context Processors</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Customs Tags</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Beautiful Messages</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Internationalization</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Resizes</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Fixtures</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Static Config</b></p>
                    </div>
                </div>
            </div>

            <div class="col-sm-3 mt-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="mb-0"><b>Deployment ready</b></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container mt-4">
        <p class="mb-0 text-center">Need Help? Contact <b><a href="https://exarth.com/">exarth.com</a></b></p>
    </div>

</div>

<!-- Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
