{% extends 'base.html' %}
{% load static %}

{% block subtitle %}
    Under Construction
{% endblock %}

{% block only-body %}
    <div class="row justify-content-center mt-5">
        <div class="container">
            <div class="col-md-12 text-center mt-5">
                <img src="{% static 'admin/images/base/construction-png.png' %}" height="200">
                <span class="h1 d-block">Under Construction</span>
                <div class="mb-4 lead">The page you are looking for was under construction
                </div>
                <a href="/" class="btn btn-primary">Back to Home</a>
            </div>
        </div>
    </div>
{% endblock %}