{% load i18n %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body class="d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            {% if messages %}
                <div class="alert alert-info" role="alert">
                    <ul>
                        {% for message in messages %}<li>{{ message }}</li>{% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="d-flex justify-content-center mb-4 text-center mt-5 text-secondary">

                <ul class="nav justify-content-center">
                    {% if user.is_authenticated %}
                        {% url 'account_email' as email_url %}
                        {% if email_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ email_url }}">{% trans "Change Email" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_change_password' as change_password_url %}
                        {% if change_password_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ change_password_url }}">{% trans "Change Password" %}</a>
                            </li>
                        {% endif %}
                        {% url 'socialaccount_connections' as connections_url %}
                        {% if connections_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ connections_url }}">{% trans "Account Connection" %}</a>
                            </li>
                        {% endif %}
                        {% url 'mfa_index' as mfa_url %}
                        {% if mfa_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ mfa_url }}">{% trans "Two-Factor Authentication" %}</a>
                            </li>
                        {% endif %}
                        {% url 'usersessions_list' as usersessions_list_url %}
                        {% if usersessions_list_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ usersessions_list_url }}">{% trans "Sessions" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_logout' as logout_url %}
                        {% if logout_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ logout_url }}">{% trans "Sign Out" %}</a>
                            </li>
                        {% endif %}
                    {% else %}
                        {% url 'account_login' as login_url %}
                        {% if login_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ login_url }}">{% trans "Sign In" %}</a>
                            </li>
                        {% endif %}
                        {% url 'account_signup' as signup_url %}
                        {% if signup_url %}
                            <li class="nav-item mr-2">
                                <a class="nav-link btn btn-outline-dark" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
        {% block extra_body %}
        {% endblock extra_body %}
    </body>
</html>